<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @hop.name %>
</p>

<p>
  <strong>Version:</strong>
  <%= @hop.version %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @hop.origin %>
</p>

<p>
  <strong>Alpha:</strong>
  <%= @hop.alpha %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @hop.amount %>
</p>

<p>
  <strong>Use:</strong>
  <%= @hop.use %>
</p>

<p>
  <strong>Time:</strong>
  <%= @hop.time %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @hop.notes %>
</p>

<p>
  <strong>Type:</strong>
  <%= @hop.type %>
</p>

<p>
  <strong>Form:</strong>
  <%= @hop.form %>
</p>

<p>
  <strong>Beta:</strong>
  <%= @hop.beta %>
</p>

<p>
  <strong>Hsi:</strong>
  <%= @hop.hsi %>
</p>

<p>
  <strong>Display amount:</strong>
  <%= @hop.display_amount %>
</p>

<p>
  <strong>Inventory:</strong>
  <%= @hop.inventory %>
</p>

<p>
  <strong>Display time:</strong>
  <%= @hop.display_time %>
</p>

<%= link_to 'Edit', edit_hop_path(@hop) %> |
<%= link_to 'Back', hops_path %>
