<p id="notice"><%= notice %></p>

<h1>Listing Fermentables</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Version</th>
      <th>Type</th>
      <th>Origin</th>
      <th>Supplier</th>
      <th>Amount</th>
      <th>Yield</th>
      <th>Color</th>
      <th>Add after boil</th>
      <th>Notes</th>
      <th>Type</th>
      <th>Display amount</th>
      <th>Inventory</th>
      <th>Coarse fine diff</th>
      <th>Moisture</th>
      <th>Diastatic power</th>
      <th>Protein</th>
      <th>Max in batch</th>
      <th>Recommend mash</th>
      <th>Ibu gal per lb</th>
      <th>Potential</th>
      <th>Display color</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fermentables.each do |fermentable| %>
      <tr>
        <td><%= fermentable.name %></td>
        <td><%= fermentable.version %></td>
        <td><%= fermentable.type %></td>
        <td><%= fermentable.origin %></td>
        <td><%= fermentable.supplier %></td>
        <td><%= fermentable.amount %></td>
        <td><%= fermentable.yield %></td>
        <td><%= fermentable.color %></td>
        <td><%= fermentable.add_after_boil %></td>
        <td><%= fermentable.notes %></td>
        <td><%= fermentable.type %></td>
        <td><%= fermentable.display_amount %></td>
        <td><%= fermentable.inventory %></td>
        <td><%= fermentable.coarse_fine_diff %></td>
        <td><%= fermentable.moisture %></td>
        <td><%= fermentable.diastatic_power %></td>
        <td><%= fermentable.protein %></td>
        <td><%= fermentable.max_in_batch %></td>
        <td><%= fermentable.recommend_mash %></td>
        <td><%= fermentable.IBU_gal_per_lb %></td>
        <td><%= fermentable.potential %></td>
        <td><%= fermentable.display_color %></td>
        <td><%= link_to 'Show', fermentable %></td>
        <td><%= link_to 'Edit', edit_fermentable_path(fermentable) %></td>
        <td><%= link_to 'Destroy', fermentable, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fermentable', new_fermentable_path %>
