<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @fermentable.name %>
</p>

<p>
  <strong>Version:</strong>
  <%= @fermentable.version %>
</p>

<p>
  <strong>Type:</strong>
  <%= @fermentable.type %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @fermentable.origin %>
</p>

<p>
  <strong>Supplier:</strong>
  <%= @fermentable.supplier %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @fermentable.amount %>
</p>

<p>
  <strong>Yield:</strong>
  <%= @fermentable.yield %>
</p>

<p>
  <strong>Color:</strong>
  <%= @fermentable.color %>
</p>

<p>
  <strong>Add after boil:</strong>
  <%= @fermentable.add_after_boil %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @fermentable.notes %>
</p>

<p>
  <strong>Type:</strong>
  <%= @fermentable.type %>
</p>

<p>
  <strong>Display amount:</strong>
  <%= @fermentable.display_amount %>
</p>

<p>
  <strong>Inventory:</strong>
  <%= @fermentable.inventory %>
</p>

<p>
  <strong>Coarse fine diff:</strong>
  <%= @fermentable.coarse_fine_diff %>
</p>

<p>
  <strong>Moisture:</strong>
  <%= @fermentable.moisture %>
</p>

<p>
  <strong>Diastatic power:</strong>
  <%= @fermentable.diastatic_power %>
</p>

<p>
  <strong>Protein:</strong>
  <%= @fermentable.protein %>
</p>

<p>
  <strong>Max in batch:</strong>
  <%= @fermentable.max_in_batch %>
</p>

<p>
  <strong>Recommend mash:</strong>
  <%= @fermentable.recommend_mash %>
</p>

<p>
  <strong>Ibu gal per lb:</strong>
  <%= @fermentable.IBU_gal_per_lb %>
</p>

<p>
  <strong>Potential:</strong>
  <%= @fermentable.potential %>
</p>

<p>
  <strong>Display color:</strong>
  <%= @fermentable.display_color %>
</p>

<%= link_to 'Edit', edit_fermentable_path(@fermentable) %> |
<%= link_to 'Back', fermentables_path %>
